@charset "UTF-8";
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700&display=swap");
/* reset style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--color-wild-sand);
  font-family: "Rubik";
  font-style: normal;
}

/* colors */
:root {
  --color-wild-sand: #f5f5f5;
  --color-abbey: #535658;
  --color-black: #000000;
  --color-mystic: #ecf0f4;
  --color-white: #fff;
  --color-cream-can: #f1d264;
  --color-oslo-gray: #8D9295;
}

[class*=__container] {
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: var(--color-wild-sand);
}
@media (max-width: 1900px) {
  [class*=__container] [class*=__container] {
    max-width: 1900px;
  }
  [class*=__container] .left {
    margin: 228px 46px 0 100px;
  }
  [class*=__container] .right {
    margin: 228px 100px 0 46px;
  }
}
@media (max-width: 1850px) {
  [class*=__container] [class*=__container] {
    max-width: 1850px;
  }
  [class*=__container] .left {
    margin: 228px 46px 0 50px;
  }
  [class*=__container] .right {
    margin: 228px 50px 0 46px;
  }
}
@media (max-width: 1700px) {
  [class*=__container] [class*=__container] {
    max-width: 1700px;
  }
  [class*=__container] .left {
    margin: 228px 20px 0 20px;
  }
  [class*=__container] .right {
    margin: 228px 20px 0 20px;
  }
}
@media (max-width: 1600px) {
  [class*=__container] [class*=__container] {
    max-width: 1600px;
  }
  [class*=__container] .left {
    margin: 228px 10px 0 10px;
  }
  [class*=__container] .right {
    margin: 228px 10px 0 10px;
  }
}
@media (max-width: 1550px) {
  [class*=__container] [class*=__container] {
    max-width: 1550px;
  }
  [class*=__container] .slider__items {
    width: 1200px;
  }
  [class*=__container] .tab {
    gap: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1200px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 110px;
  }
}
@media (max-width: 1350px) {
  [class*=__container] [class*=__container] {
    max-width: 1350px;
  }
  [class*=__container] .tab {
    gap: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1100px;
  }
}
@media (max-width: 1300px) {
  [class*=__container] [class*=__container] {
    max-width: 1300px;
  }
  [class*=__container] .tab {
    gap: 50px;
    width: 1100px;
  }
}
@media (max-width: 1250px) {
  [class*=__container] [class*=__container] {
    max-width: 1250px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  [class*=__container] .tab {
    gap: 75px;
    width: 800px;
    overflow: hidden;
  }
  [class*=__container] .slider__line {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 950px) {
  [class*=__container] [class*=__container] {
    max-width: 950px;
  }
  [class*=__container] .active {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  [class*=__container] .tab__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  [class*=__container] .item-slider {
    width: 260px;
    height: 441px;
    background: #FFFFFF;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
  }
  [class*=__container] .item-slider__image {
    width: 260px;
    height: 260px;
  }
  [class*=__container] .item-slider__image .img {
    width: 260px;
    height: 260px;
  }
  [class*=__container] .cart__select {
    display: none;
  }
  [class*=__container] .tab {
    gap: 75px;
    width: 600px;
    overflow: hidden;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 160px;
  }
}
@media (max-width: 750px) {
  [class*=__container] [class*=__container] {
    max-width: 750px;
  }
  [class*=__container] .tab {
    gap: 40px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 60px;
  }
}
@media (max-width: 720px) {
  [class*=__container] [class*=__container] {
    max-width: 720px;
  }
  [class*=__container] .tab {
    gap: 20px;
  }
  [class*=__container] .slider__items {
    width: 550px;
  }
}
@media (max-width: 690px) {
  [class*=__container] [class*=__container] {
    max-width: 690px;
  }
  [class*=__container] .tab {
    gap: 10px;
  }
  [class*=__container] .left {
    margin: 228px 5px 0 5px;
  }
  [class*=__container] .tab {
    width: 530px;
  }
}
@media (max-width: 670px) {
  [class*=__container] [class*=__container] {
    max-width: 670px;
  }
  [class*=__container] .tab {
    width: 270px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 180px;
  }
}
@media (max-width: 600px) {
  [class*=__container] [class*=__container] {
    max-width: 600px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 150px;
  }
}
@media (max-width: 500px) {
  [class*=__container] [class*=__container] {
    max-width: 500px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 120px;
  }
}
@media (max-width: 425px) {
  [class*=__container] [class*=__container] {
    max-width: 425px;
  }
  [class*=__container] .tabs__list {
    margin: 80px 0 40px 60px;
    gap: 5px;
  }
  [class*=__container] .left,
  [class*=__container] .right {
    display: none;
  }
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin: 80px 0 40px 262px;
}

.tab__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: var(--color-abbey);
}
.tab__item:hover {
  color: #000000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.tab__item:hover {
  cursor: pointer;
}

.active {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--color-black);
}

.tab {
  display: none;
}

.active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__arrow img:hover {
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.slider__items {
  overflow: hidden;
  width: 1396px;
  height: 496px;
}
.slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab {
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.left {
  margin: 228px 46px 0 176px;
  cursor: pointer;
}

.right {
  margin: 228px 176px 0 46px;
  cursor: pointer;
}

.item-slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 334px;
  height: 496px;
  background: var(--color-white);
  border: 1px solid var(--color-mystic);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-slider__image {
  overflow: hidden;
}
.item-slider__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease 0.9s;
  -o-transition: ease 0.9s;
  transition: ease 0.9s;
}
.item-slider__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--color-black);
  margin: 10px 0 5px 0;
}
.item-slider__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.old-price::after {
  content: "810 ₽ ";
  text-decoration: line-through;
  padding: 0 0 0 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-oslo-gray);
}

.hit,
.new {
  position: absolute;
  top: 20px;
  left: 20px;
}

.item-slider__image {
  position: relative;
}
.item-slider__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 25px 0;
  gap: 10px;
}

.cart__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 50px;
  background: var(--color-white);
  border: 1px solid var(--color-mystic);
  border-radius: 5px;
}
.cart__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 12px;
  width: 174px;
  height: 50px;
  border-radius: 5px;
  background: var(--color-cream-can) url("../image/icon/cart.png") 35px 15px no-repeat;
}
.cart__button:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
  background: #ecc33b url("../image/icon/cart.png") 35px 15px no-repeat;
}

.count {
  padding: 11px;
}