/* fonts */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700&display=swap");


/* reset style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li,
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

textarea,
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: var(--color-wild-sand);
    font-family: 'Rubik';
    font-style: normal;
}

/* colors */
:root {
    --color-wild-sand: #f5f5f5;
    --color-abbey: #535658;
    --color-black: #000000;
    --color-mystic: #ecf0f4;
    --color-white: #fff;
    --color-cream-can: #f1d264;
    --color-oslo-gray: #8D9295;
}

[class*="__container"] {
    max-width: 1950px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: var(--color-wild-sand);

    @media (max-width: 1900px) {
        [class*="__container"] {
            max-width: 1900px;
        }

        .left {
            margin: 228px 46px 0 100px;
        }

        .right {
            margin: 228px 100px 0 46px;

        }
    }

    @media (max-width: 1850px) {
        [class*="__container"] {
            max-width: 1850px;
        }

        .left {
            margin: 228px 46px 0 50px;
        }

        .right {
            margin: 228px 50px 0 46px;

        }
    }

    @media (max-width: 1700px) {
        [class*="__container"] {
            max-width: 1700px;
        }

        .left {
            margin: 228px 20px 0 20px;
        }

        .right {
            margin: 228px 20px 0 20px;

        }
    }

    @media (max-width: 1600px) {
        [class*="__container"] {
            max-width: 1600px;
        }

        .left {
            margin: 228px 10px 0 10px;
        }

        .right {
            margin: 228px 10px 0 10px;

        }
    }

    @media (max-width: 1550px) {
        [class*="__container"] {
            max-width: 1550px;
        }

        .slider__items {
            width: 1200px;
        }

        .tab {
            gap: 50px;
            justify-content: space-around;
            width: 1200px;
        }

        .tabs__list {
            margin: 80px 0 40px 110px;
        }
    }

    @media (max-width: 1350px) {
        [class*="__container"] {
            max-width: 1350px;
        }

        .tab {
            gap: 70px;
            justify-content: space-between;
            width: 1100px;
        }
    }

    @media (max-width: 1300px) {
        [class*="__container"] {
            max-width: 1300px;
        }

        .tab {
            gap: 50px;
            width: 1100px;
        }

    }

    @media (max-width: 1250px) {
        [class*="__container"] {
            max-width: 1250px;
        }

        .tabs__list {
            margin: 80px 0 40px 110px;
            flex-direction: column;

        }

        .tab {
            gap: 75px;
            width: 800px;
            overflow: hidden;
        }

        .slider__line {
            justify-content: space-evenly;
        }

    }

    @media (max-width: 950px) {
        [class*="__container"] {
            max-width: 950px;
        }

        .active {
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
        }

        .tab__item {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }

        .item-slider {

            width: 260px;
            height: 441px;
            background: #FFFFFF;
            border: 1px solid #ECF0F4;
            border-radius: 5px;
        }

        .item-slider__image {

            width: 260px;
            height: 260px;
        }

        .item-slider__image img {
            width: 260px;
            height: 260px;
        }

        .cart__select {
            display: none;
        }

        .tab {
            gap: 75px;
            width: 600px;
            overflow: hidden;
        }

        .tabs__list {
            margin: 80px 0 40px 160px;
        }
    }

    @media (max-width: 750px) {
        [class*="__container"] {
            max-width: 750px;
        }

        .tab {
            gap: 40px;
        }

        .tabs__list {
            margin: 80px 0 40px 60px;
        }
    }

    @media (max-width: 720px) {
        [class*="__container"] {
            max-width: 720px;
        }

        .tab {
            gap: 20px;
        }

        .slider__items {
            width: 550px;
        }
    }

    @media (max-width: 690px) {
        [class*="__container"] {
            max-width: 690px;
        }

        .tab {
            gap: 10px;
        }

        .left {
            margin: 228px 5px 0 5px;
        }

        .tab {
            width: 530px;

        }
    }

    @media (max-width: 670px) {
        [class*="__container"] {
            max-width: 670px;
        }

        .tab {
            width: 270px;

        }

        .tabs__list {
            margin: 80px 0 40px 180px;
        }
    }

    @media (max-width: 600px) {
        [class*="__container"] {
            max-width: 600px;
        }

        .tabs__list {
            margin: 80px 0 40px 150px;
        }
    }

    @media (max-width: 500px) {
        [class*="__container"] {
            max-width: 500px;
        }

        .tabs__list {
            margin: 80px 0 40px 120px;
        }
    }

    @media (max-width: 425px) {
        [class*="__container"] {
            max-width: 425px;
        }

        .tabs__list {
            margin: 80px 0 40px 60px;
            gap: 5px;

        }

        .left,
        .right {
            display: none;
        }



    }
}

//--------------nav-------------

.tabs__list {
    display: flex;
    gap: 25px;
    margin: 80px 0 40px 262px;

}

.tab__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 142%;
    color: var(--color-abbey);

    &:hover {
        color: #000000;
        transition: all 0.6s;

    }

    // &::after {
    //     display: block;
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     border: 1px dashed var(--color-abbey);
    // }

    &:hover {
        cursor: pointer;

    }
}

.active {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--color-black);
}

.tab {
    display: none;
}

.active-tab {
    display: flex;

}

//-----------slider--------
.slider {
    display: flex;

    &__arrow img:hover {
        transition: ease 0.6s;
        transform: scale(1.2);
    }

    &__items {
        overflow: hidden;
        width: 1396px;
        height: 496px;
    }

    &__line {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.tab {
    // display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.left {
    margin: 228px 46px 0 176px;
    cursor: pointer;
}

.right {
    margin: 228px 176px 0 46px;
    cursor: pointer;
}

.item-slider {
    box-sizing: border-box;
    width: 334px;
    height: 496px;
    background: var(--color-white);
    border: 1px solid var(--color-mystic);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__image {
        overflow: hidden;
    }

    &__image img:hover {
        transform: scale(1.05);
        transition: ease 0.9s;

    }

    // .item-slider__title

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: var(--color-black);
        margin: 10px 0 5px 0;
    }

    // .item-slider__price

    &__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-black);
    }
}

.old-price::after {
    content: '810 ₽ ';
    text-decoration: line-through;
    padding: 0 0 0 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-oslo-gray);
}

.hit,
.new {
    position: absolute;
    top: 20px;
    left: 20px;
}


.item-slider {
    &__image {
        position: relative;
    }

    // .item-slider__cart

    &__cart {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0 25px 0;
        gap: 10px;
    }
}

.cart {

    // .cart__select

    &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        background: var(--color-white);
        border: 1px solid var(--color-mystic);
        border-radius: 5px;
    }

    // .cart__button

    &__button {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-black);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        gap: 12px;
        width: 174px;
        height: 50px;
        border-radius: 5px;
        background: var(--color-cream-can) url('../image/icon/cart.png') 35px 15px no-repeat;
    }

    &__button:hover {
        transition: all 0.7s;
        cursor: pointer;
        background: #ecc33b url('../image/icon/cart.png') 35px 15px no-repeat;
    }
}

.count {
    padding: 11px;
}